.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: red; */
    /* temporario */

    font-weight: 600;


    display: grid;
    grid-template-columns: repeat(4, 25%);
    /* calculadora tem 4 colunas, cada uma ocupando 25% */
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
    /* fr =  fragment  /   */
}