@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf')
}

* {
  font-family: 'RobotoMono', monospace;
}

h1 {
  color: rgb(103, 62, 122);
}

body {
  display: flex;
  height: 100vh;
  /* pega a altura completa */
  justify-content: center;
  /* centralizar no eixo horizontal*/
  align-items: center;
  /* centralizar no eixo vertical*/
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, #9CECFB, #65C7F7, #0052D4)
}