/* recurso do proprio css */
:root {
    --bg-dark: #1A2F3A;

    --logo-height: 98px;
    --header-height: 100px;
    /* largura do menu */
    --aside-width: 225px;
    --footer-height: 40px;

    --shadow:
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

/* aplicação toda */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Layout de Grid */
/* div que envolve toda a aplicação */
.app {
    margin: 0px;
    display: grid;
    /* vai ter 2 colunas, 1 vai ser a largura(--aside-width), a outra coluna vai ocupar o resto(1fr) (1 frame) */
    grid-template-columns: var(--aside-width) -1fr;
    /* 2 linhas , --header-height altura do cabeçalho, 1fr (ocupar a largura do maio o maximo que der) que é de fato o conteúdo inteiro da aplicação, (altura do rodape)  */
    grid-template-rows:
        var(--header-height) 1fr var(--footer-height);
    /* definir o que que irá ficar em cada área */
    grid-template-areas:
        "logo header"
        "menu content"
        "menu footer";
    /* vai ocupar a altura inteira do viewPort */
    height: 100vh;
    background-color: #f5f5f5;
}

aside.logo {
    grid-area: logo;
}

header.header {
    grid-area: header;
}

aside.menu-area {
    grid-area: menu;
}

main.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}