body {
  background-color: mediumseagreen;
  background-image: url(c2a62cbc692a9aed062f29a7702dfeff.webp);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

